@import "tailwindcss";

/* Global theme */
:root {
  --bg: #f6f8fc;
  --text: #000000;

  --blue-900: #1e3a8a; /* navbar/footer */
  --blue-600: #2563eb; /* primary */
  --blue-200: #bfdbfe; /* soft accents */
  --blue-100: #dbeafe; /* panels */
  --border: #93c5fd;   /* borders */
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}